* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
div {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
button{
    margin-top: 40px;
    text-transform: capitalize;
}

